@charset"utf-8";

html,body{
    
height: 100%;

}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    
}

.nenmatsu{
    background-image: url(nen.jpg);
    background-repeat: ;
    background-size: cover;
    margin: 0 auto 120px;
   
    display: block;
    max-width: 480px;
    height: 100%;
    position: relative;
    
}


p{
    margin-top: -20px;
    margin-bottom: 1px;
    margin-left: 100px;
    font-weight: normal;
     font-size: 14px;
    font-style: normal;
    
    
}
h3{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 19px;
    margin-left: 90px;
    
}
h4{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    
    margin-left: 120px;
    margin-top: -5px;
}
.img{
    position: relative;
}
.noidung{
    margin-top: -10px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 736px) {

    .nenmatsu{
        
        
        width: 480px;
        height: 100%;
    
        display: block;
          
    }
    
    p {
   margin:auto;
    font-size: 14px; 
        font-weight: normal;
        margin-left: 100px;
        margin-top: -20px;
        
}
    h3{
        margin: auto;
        margin-top: 10px;
        font-size: 19px;
        font-weight: 50px;
        margin-bottom: 20px;
        max-width: 100em;
        margin-left: 90px;
        
        
        
    }
    h4{
        margin: auto;
        margin-left: 120px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
}


 